@font-face {
  font-family: india;
  src: url(./hello.woff2);
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: india;
}

html,body
{
  height: 100%;
  width: 100%;

}

.main
{
  width: 100%;
  height: 100%;
  position: relative;
  /* background-color: #111; */
}

.nav
{
  height: 100px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #dadada;
  padding: 0 3vw;
  
}

.nav button
{
  font-size: 1vw;
  padding: 0.8vw 1.2vw;
  background-color:#606af1;
  color: #fff;
  border: none;
  border-radius: 0.3vw;
  font-weight: 800;
}

.nav1
{
  display: flex;
  align-items: center;
  gap:5vw;
}

.nav1 h4
{
  font-size: 1.4vw;
  font-weight: 900;
}

.nav1 i
{
  display: none;
}




.content
{
  height: calc(100% - 100px);
  width: 100%;
  /* background-color: rgb(218, 166, 98); */
  display: flex;
  position: relative;
}

.left
{
  height: 100%;
  width: 55%;
  /* background-color: bisque; */
  padding:4vw 3vw;
}

.right
{
  height: 100%;
  width: 45%;
  /* background-color: rgb(103, 201, 99); */
  padding:4vw 3vw;
}

.left h1
{
  font-size: 4vw;
  line-height: 4.5vw;
}

.left h1 span
{
  color: #ff8578;
}


.left p
{
  font-size: 1.3vw;
  width: 80%;
  margin-top: 2vw;
  margin-bottom: 3vw;
}

.content button
{
  font-size: 1.6vw;
  padding: 0.8vw 1.2vw;
  background-color:#ff8578;
  color: #fff;
  border: none;
  border-radius: 0.4vw;
  
}

.right img
{
  height: 100%;
  width: 100%;
}


@media (max-width:600px) {
  
  .nav
  {
    /* background-color: aqua; */
    background-color: #ff8578;
    padding:40px;
  }
  
  .nav1 h4
  {
    display: none;
  }
  
  .nav1 i
  {
    font-size: 4vw;
    display: block;
  }

  .nav button
  {
    display: none;
  }

  .content
  {
    height: calc(100% - 40px);
    flex-direction: column;
  }

  .left
  {
    
    width: 100%;
    height: 50%;
    /* background-color: #606af1; */
    padding: 40px;
  }

  .right
  {
    
    width: 100%;
    height: 50%;
    /* background-color: #ff8578; */
  }

  .left h1
  {
    font-size: 10vw;
    line-height: 11vw;
  }

  .left p
  {
    font-size: 3vw;
    margin-top: 7vw;
    width: 100%;
    margin-bottom: 4vw;

  }

  .left button
  {
    font-size: 3vw;
    padding: 3vw 6vw;
    background-color: #606af1;
    border-radius: 8px;
  }
  
}
